.Input {
    input {
        padding: 0 5px;
        border: none;
        border-bottom: 1px solid black;
        vertical-align: text-bottom;

        &:focus {
            outline: none;
            background: lightyellow;
        }
    }
}
