@import '../Layout/vars.scss';

.HamburgerButton {
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 40*$unit;
    width: 56*$unit;
    font-size: 24*$unit;
    cursor: pointer;
    display: none;


    @media (max-width: 575px) {
        display: block;
    }
}
