@import './reset.scss';
@import './vars.scss';

html {
    font-size: 1px;
}

body {
    font-size: 16rem;
    font-family: 'Roboto', sans-serif;
}



.Layout {

    &__Container {
        width: 90vw;
        margin: 0 auto $gap*2;
        padding: 0 $gap;

        @media (max-width: 575px) {
            width: 100vw;
        }
    }
}
