// sizing
$fontSizeBase: 6.25%;
$unit: 1rem;
$gap: 16*$unit;
// colors
$blue: #007bff;
$white: #fff;
$lightGrey: #e9ecef;
$grey: rgb(222, 226, 230);
$darkGrey: #495057;
// responsive
$breakSmall: 575*$unit;
