@import '../Layout/vars.scss';

.MainNav {
    background: $blue;
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: $gap/2 $gap;
    margin-bottom: $gap;

    &--open {
        flex-wrap: wrap;

        & .MainNav__Links {
            @media (max-width: 575px) {
                display: flex;
            }
        }
    }

    &__Links {
        flex-grow: 1;
        order: 2;
        line-height: $gap*1.5;
        padding: $gap/2 0;

        @media (max-width: 575px) {
            display: none;
            flex-basis: 100%;
        }
    }
}
